<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>
			{% block title %}Wild Overflow{% endblock %}
		</title>
		<link href="/assets/styles/layout.css" rel="stylesheet">

		{% block stylesheets %}
		{% endblock %}


		{% include 'navbar.html.twig' %}
	</head>
	<body>

		{% block body %}{% endblock %}

	</body>
	{% include 'footer.html.twig' %}
		{% block javascripts %}
	{% endblock %}

</html>
